
.user-block-wrapper{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 1155px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.card{
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 12px;
  padding: 15px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    transition: box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
}
.card-header{
  padding: 15px 15px 0;
  border: 0;
}
.card-title {
  margin-top: 10px;
}


.row {
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.first{
  width: 100%;
  & mat-form-field{
    width: 48%;
  }
}
.second{
  width: 100%;
  align-items: flex-start;
  & mat-form-field{
    width: 38%;
  }
  & mat-button-toggle-group{
    width: 18%;
  }
}
/*user card block*/
.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
}
.line{
  border-bottom: 1px solid #dddddd;
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
}
.card-user{
  position: relative;
}
.image{
  background: url(../../../../assets/img/bg5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% + 30px);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100px;
  margin: -15px;
}
.card-body {
  padding: 15px 15px 10px;
  flex: 1 1 auto;
  min-height: 240px;
}

.author{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.card-image-bg{
  margin-top: -50px;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  background:rgb(184, 184, 184);
  & mat-icon{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 30px;
  }
}
.login-block{
  display: flex;
  flex-direction: column;
  width: 320px;
}
.title{
  color: #002ca7;
  font-size: 25px;
}
