<div class="order-block">
  <div class="order-card">
    <div class="order-body">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="No.">
          <th mat-header-cell *matHeaderCellDef >No.</th>
          <td mat-cell *matCellDef="let element">
            <span class="flight-name">{{ element.flightNumber }}</span>
          </td>
        </ng-container>

        <!-- Flight Column -->
        <ng-container matColumnDef="Flight">
          <th mat-header-cell *matHeaderCellDef >Flight</th>
          <td mat-cell *matCellDef="let element">
            <div>
              {{
                element.destination.from + " — " + element.destination.return
              }}
            </div>
            <div>
              {{
                element.destination.return + " — " + element.destination.from
              }}
            </div>
          </td>
        </ng-container>

        <!-- Type trip Column -->
        <ng-container matColumnDef="Type trip">
          <th mat-header-cell *matHeaderCellDef >Type trip</th>
          <td mat-cell *matCellDef="let element">{{ element.flightType }}</td>
        </ng-container>

        <!-- Data & Time Column -->
        <ng-container matColumnDef="Data & Time">
          <th mat-header-cell *matHeaderCellDef >Data & Time</th>
          <td mat-cell *matCellDef="let element">
            <div>
              {{ element.departureDate.from | date : "longDate" }}
              {{ element.arrivalDate.from | date : "shortTime" | convertHour }}
              —
              {{
                element.departureDate.from | date : "shortTime" | convertHour
              }}
            </div>
            <div>
              {{ element.departureDate.return | date : "longDate" }}
              {{
                element.arrivalDate.return | date : "shortTime" | convertHour
              }}
              —
              {{
                element.departureDate.return | date : "shortTime" | convertHour
              }}
            </div>
          </td>
        </ng-container>

        <!-- Passengers Column -->
        <ng-container matColumnDef="Passengers">
          <th mat-header-cell *matHeaderCellDef >Passengers</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <div *ngIf="element.passengerAmount.adults > 0">
                {{ element.passengerAmount.adults + " x Adults" }}
              </div>
              <div *ngIf="element.passengerAmount.child > 0">
                {{ element.passengerAmount.child + " x Child" }}
              </div>
              <div *ngIf="element.passengerAmount.infant > 0">
                {{ element.passengerAmount.infant + " x Infant" }}
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef >Price</th>
          <td mat-cell *matCellDef="let element">
            <div class="price-name">$ {{ element.price.toFixed(2) }}</div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="moreFlight(row)"
          [routerLink]="'/user/user-booking'"
        ></tr>
      </table>
    </div>

    <div class="card-footer">
      <div class="footer-top-block">
        <div class="add-trip-block"></div>
        <div class="total-price-block">
          <h4>Total</h4>
          <div>$ {{ commonPrice.toFixed(2) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
