<div class="carousel-block">
  <div class="carousel-wrapper">
    <button class="btn left-btn" [ngClass]="{'disable':widthCounter === 0}" (click)="prevBtn(wrapper)"><mat-icon>arrow_back_ios</mat-icon></button>
    <button class="btn right-btn" [ngClass]="{'disable':widthCounter === -900}" (click)="nextBtn(wrapper)"><mat-icon>arrow_forward_ios</mat-icon></button>
    <div class="carousel-card-block">
      <div class="slider-wrapper" #wrapper>
        <button
          *ngFor="let day of flightList; index as ind;"
          class="card"
          [ngClass]="{
            'active-card-green': day.id === currentIndex && day.seats <= 130 && day.seats >= 130/2,
            'active-card-yellow': day.id === currentIndex && day.seats <= 130/2 && day.seats >= 11,
            'active-card-red': day.id === currentIndex && day.seats <= 10
          }"
          #el
          (click)="selectCard(el, day)"
          [disabled]="day.flight"
          >
            <span class="date-month">{{day.fromDate | date:'dd MMM' | uppercase}}</span>
            <span class="date-week">{{day.fromDate | date:'EEEE' | uppercase}}</span>
            <span class="price" *ngIf="!day.flight">{{day.price.toString()}}$</span>
            <mat-icon
              class="icon-airplane"
              *ngIf="day.flight"
              svgIcon="no_reys"
              aria-hidden="false"
              aria-label="no reys SVG icon">
            </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
