* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-block {
  padding: 22px 0;
  background: #fafafa;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 100px;

  .row {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .search-left {
    display: flex;
    align-items: center;
    gap: 16px;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: 0.15px;
      color: #000000;
    }
  }

  .search-right {
    display: flex;
    align-items: center;
    gap: 8px;

    .right-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #74767a;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .circle {
      display: block;
      width: 4px;
      height: 4px;
      background: #0090bd;
      border-radius: 2px;
    }
  }

  .button-flat {
    padding: 4px 8px;
    background: #f4f6f9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #11397e;
    border: none;
  }
}

.order-body {
  margin-top: 40px;

  .summary-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #11397e;
    gap: 12px;
    margin-bottom: 20px;
  }

  .order-summary {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
    .summary-card {
      gap: 8px;
      width: 551px;
      background: #fff;
      border-top: 3px solid #11397e;
      border-radius: 8px 8px 0px 0px;
    }
    .summary-header {
      width: 100%;
      padding: 20px 24px;
      background: #f1f3f6;

      .header-way {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #000000;
        margin-bottom: 8px;
        span {
          color: #11397e;
          margin-right: 20px;
        }
      }
    }
  }

  .summary-main {
    padding: 20px 24px;
    width: 100%;
    background: #ffffff;
    border-radius: 0px 0px 8px 8px;
    border-bottom: 1px solid #e1e5eb;

    h4 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #1c1b1f;
      margin-bottom: 12px;
    }
    p {
      padding: 0px 0px 0px 28px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #000000;
      margin-bottom: 4px;
    }
  }

  .total {
    width: 552px;
    background: #ffffff;
    border: 1px solid #e1e5eb;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px 72px 20px 40px;
    margin-left: auto;

    .total-top {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e1e5eb;
    }
    table {
      tr {
        text-align: left;

        th {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: #000000;

          &:last-child {
            text-align: right;
          }
        }

        td {
          padding-left: 40px;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: #000000;
          &:last-child {
            text-align: right;
          }
        }
      }
    }

    .total-bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #000000;
        &:last-child {
          color: #11397e;
        }
      }
    }
  }
}
.btn-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 0 48px;
  gap: 40px;

  button {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #11397e;
    padding: 20px 24px;
    &:last-child {
      color: #fff;
    }
  }
}
.container {
  width: 1128px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1399px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 989px) {
  .container {
    width: 750px;
  }
  .order-block {
    padding-top: 0;
  }
  .order-body {
    mat-button-toggle-group {
      order: 2;
    }
    .passengers-card {
      .card-inputs {
        flex-wrap: wrap;
      }
    }
    .summary-title {
      font-size: 20px;
    }

    .summary-main {
      padding: 15px 20px;
      p {
        padding: 0 0 0 20px;
        font-size: 14px;
      }
    }

    .order-summary {
      .summary-card {
        width: 49%;

        .summary-header {
          padding: 15px 20px;
          .header-way {
            font-size: 17px;
          }
        }
      }
    }
    .total {
      padding: 15px 60px 15px 30px;
      .total-bottom {
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 380px;
  }
  .btn-block {
    padding-bottom: 50px;
  }

  .order-body {
    .order-summary {
      flex-wrap: wrap;
      .summary-card {
        width: 100%;
      }
    }
    .total {
      width: 100%;
      padding: 15px 20px;
      .total-bottom {
        p {
          font-size: 18px;
        }
      }
    }
  }
}
