@mixin menu-button {
  padding: 10px 16px;
  background: rgba(241, 243, 246, 0.15);
  border: 0.5px solid #cecece;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgChange{
  background-color: #fff;
}

header {
  background: rgba(116, 118, 122, 0.2);
  padding: 24px 0;
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;

    button {
      @include menu-button();
      position: relative;
    }

    .btn-text {
      border: none;
      background: transparent;
    }

    .shopping-basket {
      color: #ffffff;
      cursor: pointer;
    }

    .mdc-button__label {
      color: #ffffff;
    }

    // .mat-mdc-select-min-line {
    //   color: #fff;
    // }

    .textColor{
      color: black;
    }

    .choose-date-select {
      margin-bottom: -1.75em !important;
    }
  }
}

.mdc-text-field--outlined .mdc-notched-outline {
  background: rgba(241, 243, 246, 0.15);
  /* Neutral/neutral60 */

  border: 0.5px solid #cecece;
  border-radius: 4px;
}
// .mat-mdc-select-arrow svg {
//   fill: #fff !important;
// }


.container {
  width: 1128px;
  margin: auto;
}
.mat-horizontal-content-container {
  padding: 0 !important;
}
.mat-stepper-horizontal-line {
  width: 80px;
}
.mat-step-text-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #74767a;
}
@media screen and (max-width: 1399px) {
  .container {
    width: 960px;
  }
  .navbar {
    flex-wrap: wrap;

    .mat-stepper-horizontal {
      order: 2;
      margin: 20px auto 0;
    }
  }
}

@media screen and (max-width: 989px) {
  .container {
    width: 750px;
  }
  header {
    .menu {
      gap: 20px;

      button {
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 380px;
  }
  header {
    .navbar {
      flex-wrap: wrap;
      justify-content: center;

      .logo {
        display: inline-block;
        width: 100px;
        img {
          width: 100%;
        }
      }

      .menu {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .btn-text {
          order: 2;
        }
      }
    }
  }
  .mat-stepper-horizontal-line {
    width: 10px;
  }
  .mat-horizontal-stepper-header {
    padding: 0 10px !important;
  }
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background-color: #0090BD;
}
.mat-horizontal-stepper-header{
  height: 55px !important;
}
