@mixin menu-button {
  padding: 10px 16px;
  background: rgba(241, 243, 246, 0.15);
  border: 0.5px solid #cecece;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: rgba(116, 118, 122, 0.2);
  padding: 24px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;

    button {
      @include menu-button();
      position: relative;
    }

    .btn-text {
      border: none;
      background: transparent;
    }

    .shopping-basket {
      color: #ffffff;
      cursor: pointer;
    }

    .choose-date-select {
      margin-bottom: -1.75em !important;
    }
  }
}

.mdc-button__label,
.mat-mdc-select-min-line {
  color: #ffffff;
}
.mdc-text-field--outlined .mdc-notched-outline {
  background: rgba(241, 243, 246, 0.15);
  /* Neutral/neutral60 */

  border: 0.5px solid #cecece;
  border-radius: 4px;
}
.mat-mdc-select-arrow svg {
  fill: #fff !important;
}

.container {
  width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1399px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 989px) {
  .container {
    width: 750px;
  }
  header {
    .menu {
      gap: 20px;

      button {
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 380px;
  }
  header {
    .navbar {
      flex-wrap: wrap;
      justify-content: center;

      .logo {
        display: inline-block;
        width: 100px;
        img {
          width: 100%;
        }
      }

      .menu {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .btn-text {
          order: 2;
        }
      }
    }
  }
}
