<header [ngClass]="{'bgChange': !headerBgToggler}">
  <div class="container">
    <nav class="navbar">
      <a [routerLink]="['/main']" class="logo">
        <img src="../../../../assets/img/header-logo.png" alt="png" />
      </a>
      <mat-stepper #stepper *ngIf="toggleHeader.includes('/booking')">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Flights</ng-template>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Passengers</ng-template>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Review & Payment</ng-template>
        </mat-step>
      </mat-stepper>
      <div class="menu">
        <button class="btn-text" [routerLink]="['/booking']" *ngIf="toggleHeader === '/main'">Book flights</button>
        <mat-form-field appearance="outline" class="choose-date-select">
          <mat-select [value]="isActive$ | async" (selectionChange)="selectDate($event)" name="date"  [panelClass]="{'textColor': !headerBgToggler }">
            <mat-option *ngFor="let date of dateFormatList" [value]="date">
              <span [ngClass]="{'textColor': !headerBgToggler }">{{date}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="btn-language" [matMenuTriggerFor]="currencyMenu">
          <span [ngClass]="{'textColor': !headerBgToggler }">{{ currency$ | async }}</span>
        </button>
        <mat-menu #currencyMenu="matMenu">
          <button *ngFor="let currencyName of currencyList" (click)="chooseCurrency(currencyName)" mat-menu-item>{{currencyName}}</button>
        </mat-menu>
        <button class="btn-sign" (click)="openAuthDialog()" [ngClass]="{'textColor': !headerBgToggler }">
          <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
         <span *ngIf="!userName; else name">Sign in</span>
         <ng-template #name>{{userName}}</ng-template>
        </button>
        <span class="shopping-basket" [routerLink]="['/shop']" [ngClass]="{'textColor': !headerBgToggler }">
          <mat-icon aria-hidden="false" fontIcon="shopping_basket"></mat-icon>
        </span>
      </div>
    </nav>
  </div>
</header>
