<div class="summary-card">
  <div class="summary-header">
    <p class="header-way"><span>FR 1925</span>Dublin — Warsaw Modlin</p>
    <p class="header-date">
      Wednesday, 1 March, 2023 <span>8:40 — 12:00</span>
    </p>
  </div>
  <div class="summary-main">
    <h4>Harry Potter</h4>
    <p>1checked bag (total 23 kg) included</p>
    <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
    <p>Seat 19E</p>
  </div>
  <div class="summary-main">
    <h4>Harry Potter</h4>
    <p>1checked bag (total 23 kg) included</p>
    <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
    <p>Seat 19E</p>
  </div>
  <div class="summary-main">
    <h4>Harry Potter</h4>
    <p>1checked bag (total 23 kg) included</p>
    <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
    <p>Seat 19E</p>
  </div>
</div>
