<div class="summary-card">
  <div class="summary-header">
    <p class="header-way">
      <span>{{ ticket_result.flightNumber }}</span>
      {{ ticket_result.from.state }} — {{ ticket_result.destination.state }}
    </p>
    <p class="header-date">
      {{ ticket_result.destinationDate | date : "fullDate" }}

      <span
        >{{ ticket_result.destinationDate | date : "shortTime" }} —
        {{ date | date : "shortTime" }}</span
      >
    </p>
  </div>
  <!-- *ngFor="let passenger in passengerInfo" -->
  <div class="summary-bottom">
    <div class="adults" *ngIf="passengerInfo.adults">
      <div class="summary-main" *ngFor="let passenger of passengerInfo.adults">
        <h4>{{ passenger.firstName }}</h4>
        <!-- <p>1checked bag (total 23 kg) included</p> -->
        <p>1 personal item (max. 8 kg) included</p>
        <!-- <p>Seat 19E</p> -->
      </div>
    </div>
    <div class="adults" *ngIf="passengerInfo.child">
      <div class="summary-main" *ngFor="let passenger of passengerInfo.child">
        <h4>{{ passenger.firstName }}</h4>
        <p>1 personal item (max. 8 kg) included</p>
      </div>
    </div>
    <div class="adults" *ngIf="passengerInfo.infant">
      <div class="summary-main" *ngFor="let passenger of passengerInfo.infant">
        <h4>{{ passenger.firstName }}</h4>
        <p>1 personal item (max. 8 kg) included</p>
      </div>
    </div>
  </div>
</div>
