<footer>
  <div class="container">
    <div class="row">
      <p class="footer-text">© 2023, AIRWAY. All rights reserved.</p>

      <div class="payments">
        <p class="patment-text">We accept these payment methods</p>
        <ul class="payment-menu">
          <li><a href="#!"><img src="../../../../assets/img/payment/IconMastercard.png" alt=""></a></li>
          <li><a href="#!"><img src="../../../../assets/img/payment/IconAmasonPay.png" alt=""></a></li>
          <li><a href="#!"><img src="../../../../assets/img/payment/IconAmericanExpress.png" alt=""></a></li>
          <li><a href="#!"><img src="../../../../assets/img/payment/IconVisa.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
