<div class="dropdown-collection"  (clickOutside)="mouseClickOutSide()">
  <button type="button" class="dropdown-button" aria-haspopup="listbox" aria-labelledby="dropdown-label" (click)="toggleDropdown()">
    <div class="label-block">
      <p class="dropdown-label">{{title}}</p>
      <span class="dropdown-value">{{textPassengers}}</span>
    </div>
    <div class="icon-block">
      <mat-icon *ngIf="!dropdownOpen">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="dropdownOpen">arrow_drop_up</mat-icon>
    </div>
  </button>
  <ul class="dropdown-list" role="listbox" aria-expanded="false" [ngClass]="{'dropdown-open' : dropdownOpen}">
      <li class="selected" tabindex="0" role="option">
          <div #options class="select">
            <div class="option">
              <div class="option-info">
                <p>Adults</p>
                <span>14+ years</span>
              </div>
              <app-counter [(counter)]="adults"></app-counter>
            </div>
            <div class="option">
              <div class="option-info">
                <p>Child</p>
                <span>2-14 years</span>
              </div>
              <app-counter [(counter)]="child"></app-counter>
            </div>
            <div class="option">
              <div class="option-info">
                <p>Infant</p>
                <span>0-2 years</span>
              </div>
              <app-counter [(counter)]="infant"></app-counter>
            </div>
          </div>
      </li>
  </ul>
</div>
