::ng-deep {
  //inputs
  .mat-mdc-text-field-wrapper {
    border: none;
  }
  .mat-mdc-form-field
    .mat-mdc-text-field-wrapper.mdc-text-field
    .mdc-notched-outline__notch {
    padding-top: 20px;
    padding-right: 0;
  }

  .mat-mdc-form-field.mat-focused
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-floating-label,
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    top: 20px !important;
  }
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 8px;
  }
  .mat-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #49454f;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border: none;
  }

  .mat-mdc-form-field-infix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px !important;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #1c1b1f;
  }

  //toggle button
  .mat-mdc-slide-toggle .mdc-switch {
    width: 52px !important;
  }
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    background: #f4f6f9;
    border-radius: var(--mdc-switch-track-shape, 100px) !important;
    height: var(--mdc-switch-track-height, 25px) !important;
    border: none;
  }
  .mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--unselected:enabled
    .mdc-switch__icon {
    fill: #fff;
  }
  .mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--unselected:enabled
    .mdc-switch__handle::after {
    background: #74767a;
  }
  .mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--selected:enabled
    .mdc-switch__handle::after {
    background: #ffffff !important;
  }
  .mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--selected:enabled
    .mdc-switch__icon {
    fill: #49454f !important;
  }
  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background: #11397e !important;
  }

  // gender
  .mat-button-toggle .mat-button-toggle-label-content > * {
    opacity: 0;
  }
  .mat-button-toggle-checked .mat-icon,
  .mat-button-toggle-checked .mat-button-toggle-label-content {
    opacity: 1 !important;
    color: #11397e;
  }
  // toolTip
  .mdc-tooltip__surface {
    padding: 16px 24px !important;
    background: #ffffff !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px !important;
    color: #1c1b1f !important;
  }
}
.luggage-input{
  width: 100px;
  height: 20px;
  border: 0.5px solid rgba(116, 118, 122, 0.6);
  border-radius: 4px;
  margin-left: 15px;
  padding: 8px;
}
.luggage-block{
  display: inline-block;
  margin-left: 15px;
}

.luggage{
  display: flex;
  align-items: flex-end;
  gap: 15px;
  & div {
    display: flex;
    align-items: flex-end;

    & mat-icon, span{
      display: inline-block;
      letter-spacing: 0.4px;
      color: #49454f;
    }
    & span {
      margin-left: 8px;
      & span {
        font-weight: bold;
      }
    }
  }
}
