<div class="order-block">
  <div class="container">
    <div class="order-body">
      <div class="from-county">
        <app-order-title [direction]="'goTo'"></app-order-title>
        <div class="carousel-block">
          <app-carousel [flightList]="flightArr" [chosenFlightDay]="flightArr[3]"></app-carousel>
        </div>
        <div class="flight-info-block">
          <app-select-flight [direction]="'goTo'"></app-select-flight>
        </div>
      </div>
      <div class="destination-block">
        <app-order-title [direction]="'return'"></app-order-title>
        <div class="carousel-block">
          <app-carousel [flightList]="flightArr" [chosenFlightDay]="flightArr[1]"></app-carousel>
        </div>
        <div class="flight-info-block">
          <app-select-flight [direction]="'return'"></app-select-flight>
        </div>
      </div>
    </div>
    <div class="order-footer">
      <div class="btn-block">
        <button class="back-btn" mat-button [routerLink]="['/main']">Back</button>
        <button
          class="next-btn"
          color="primary"
          mat-raised-button
          (click)="nextSection()"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
