<div class="order-block">
  <div class="container">
    <div class="order-body" *ngIf="flightArr.length">
      <div class="from-county">
        <app-order-title [direction]="'goTo'" [flight]="selectedFlight"></app-order-title>
        <div class="carousel-block" *ngIf="checkCarousel">
          <app-carousel [flightList]="flightArr" [chosenFlightDay]="flightArr[2]" (selectedFlight)="chooseFlightCarousel($event, 'from')"></app-carousel>
        </div>
        <div class="flight-info-block">
          <app-select-flight [direction]="'goTo'" [flight]="selectedFlight" (selectedFlight)="chooseFlightSelect($event, 'from')"></app-select-flight>
        </div>
      </div>
      <div class="destination-block" *ngIf="returnFlight.length">
        <app-order-title [direction]="'return'" [flight]="selectedReturnFlight"></app-order-title>
        <div class="carousel-block" *ngIf="checkReturnCarousel">
          <app-carousel [flightList]="flightReturnArr" [chosenFlightDay]="returnFlight[2]" (selectedFlight)="chooseFlightCarousel($event)"></app-carousel>
        </div>
        <div class="flight-info-block">
          <app-select-flight [direction]="'return'"  [flight]="selectedReturnFlight" (selectedFlight)="chooseFlightSelect($event)"></app-select-flight>
        </div>
      </div>
    </div>
    <div class="order-footer">
      <div class="btn-block">
        <button class="back-btn" mat-button [routerLink]="['/main']">Back</button>
        <button
        color="primary"
        class="next-btn"
          mat-raised-button
          (click)="nextSection()"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
