* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
}
.order-block {

}

.search-block {
  position: relative;
  padding: 22px 0;
  background: #fafafa;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.order-body {
  padding: 40px 0 20px;

  .order-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #11397e;
    gap: 12px;
    margin-bottom: 8px;
  }

  .order-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #49454f;

    margin-bottom: 20px;
  }

  .card-title,
  .contact-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #10264c;
    margin-bottom: 24px;
  }
  .passengers-card {
    padding: 32px 44px;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
    .card-inputs {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      .input-info {
        width: 200px;
        padding: 16px 24px;
        background: #ffffff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 50%;
      }
    }
  }
  mat-slide-toggle {
    margin-top: 24px;
    gap: 17px;
    .mdc-form-field > label {
      display: flex;
      align-items: center;
    }
  }

  .infant {
    margin-bottom: 40px;
  }

  .contact-title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #11397e;
    margin-bottom: 8px;
  }
  .contact-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #49454f;
    margin-bottom: 20px;
  }
}

.order-footer {

}

.btn-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 0px 20px;
  padding-bottom: 102px;
}

mat-label {
  letter-spacing: 0.4px;
  color: #49454f;
}
.mat-mdc-text-field-wrapper {
  background: #f4f6f9;
  border-radius: 4px;
  border-bottom: none;
  border: 1px solid #acadaf;
}

.container {
  width: 1128px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1399px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 989px) {
  .container {
    width: 750px;
  }
  .order-block {
    padding-top: 0;
  }
  .order-body {
    mat-button-toggle-group {
      order: 2;
    }
    .passengers-card {
      .card-inputs {
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 380px;
  }
  .btn-block {
    padding-bottom: 50px;
  }
}

mat-form-field {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}



.airplane-icon{
  transform: rotateY(180deg);
}
.flight-info-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
