<div class="order-block">
  <div class="container">
    <div class="order-body">
      <div class="from-county">
        <div class="order-top">
          <h2 class="order-title">
            <mat-icon
              svgIcon="airplane_icon"
              aria-hidden="false"
              aria-label="airplane_icon SVG icon"
            ></mat-icon>
            Dublin to Warsaw Modlin
          </h2>
        </div>
        <div class="carousel-block">
          <app-carousel [flightList]="flightArr" [chosenFlightDay]="flightArr[1]"></app-carousel>
        </div>
        <div class="flight-info-block">
          <div>start time</div>
          <div>
            <mat-icon
            svgIcon="airport_Icon"
            aria-hidden="false"
            aria-label="airplane_icon SVG icon"
          ></mat-icon>
          </div>
          <div>during time</div>
          <div>
            price block
          </div>
        </div>
      </div>
      <div class="destination-block">
        <div class="order-top">
          <h2 class="order-title">
            <mat-icon
            class="airplane-icon"
            svgIcon="airplane_icon"
            aria-hidden="false"
            aria-label="airplane_icon SVG icon"
            ></mat-icon>
            Warsaw Modlin to Dublin
          </h2>
        </div>
        <div class="carousel-block">
          <app-carousel [flightList]="flightArr" [chosenFlightDay]="flightArr[0]"></app-carousel>
        </div>
        <div class="flight-info-block">
          <div>start time</div>
          <div>
            <mat-icon
            class="airplane-icon"
            svgIcon="airport_Icon"
            aria-hidden="false"
            aria-label="airplane_icon SVG icon"
          ></mat-icon>
          </div>
          <div>during time</div>
          <div>
            price block
          </div>
        </div>
      </div>
    </div>
    <div class="order-footer">
      <div class="btn-block">
        <button mat-button [routerLink]="['/main']">Back</button>
        <button
          color="primary"
          mat-raised-button
          [routerLink]="['/booking/order']"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
