<div class="user-container">

  <div class="user-block-wrapper">
    <div class="edit-user-block">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="row first">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>

            </div>
            <div class="row second">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Phone number</mat-label>
                <input matInput formControlName="phoneNumber">
              </mat-form-field>
              <mat-button-toggle-group  formControlName="gender" name="gender" aria-label="gender">
                <mat-button-toggle value="male">Male</mat-button-toggle>
                <mat-button-toggle value="female">Female</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>country</mat-label>
                <input matInput formControlName="country">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>citizenship</mat-label>
                <input matInput formControlName="citizenship">
              </mat-form-field>

              <mat-form-field appearance="outline" >
                <mat-label>Birthday</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday" [readonly]="true">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="row btn-block">
              <button
              mat-raised-button
              [disabled]="!changeValue || form.invalid"
              color="primary"
              (click)="onSubmit()"
              >update</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="user-info-block">
      <div class="card card-user">
        <div class="image"></div>
        <div class="card-body">
          <div class="author">
            <div class="card-image-bg">
              <mat-icon>group</mat-icon>
            </div>
            <h3 class="title">{{userName}}</h3>
            <div class="login-block" [formGroup]="form.controls.loginForm">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Login</mat-label>
                <input matInput formControlName="login" [readonly]="true">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>password</mat-label>
                <input matInput formControlName="password" [readonly]="true">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="button-container">
          <button mat-fab disabled  class="">
            <mat-icon svgIcon="facebook" aria-hidden="false"></mat-icon>
          </button>
          <button mat-fab disabled  class="">
            <mat-icon svgIcon="telegram" aria-hidden="false"></mat-icon>
          </button>
          <button mat-fab disabled  class="">
            <mat-icon svgIcon="google" aria-hidden="false"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
