<header>
  <div class="container">
    <nav class="navbar">
      <a [routerLink]="['/main']" class="logo">
        <img src="../../../../assets/img/header-logo.png" alt="png" />
      </a>

      <div class="menu">
        <mat-form-field appearance="outline" class="choose-date-select">
          <mat-select [formControl]="isActive" name="date">
            <mat-option *ngFor="let date of dateFormatList" [value]="date">
              <span>{{date}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="btn-language" [matMenuTriggerFor]="currencyMenu">
          {{ currency }}
        </button>
        <mat-menu #currencyMenu="matMenu">
          <button *ngFor="let currencyName of currencyList" (click)="chooseCurrency(currencyName)" mat-menu-item>{{currencyName}}</button>
        </mat-menu>
        <button class="btn-sign" (click)="openAuthDialog()">
          <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
          Sign in
        </button>
        <span class="shopping-basket">
          <mat-icon aria-hidden="false" fontIcon="shopping_basket"></mat-icon>
        </span>
      </div>
    </nav>
  </div>
</header>
