<div class="search-container">
  <div class="search-row">
    <div class="search-left">
      <div class="search-subtitle">{{cityFrom}}</div>
      <mat-icon svgIcon="fromToReturnIcon"></mat-icon>
      <div class="search-subtitle">{{cityDestination}}</div>
    </div>
    <div class="search-right">
      <span class="right-text">Return</span>
      <span class="circle"></span>
      <span class="right-text">1Mar - 18 Mar</span>
      <span class="circle"></span>
      <span class="right-text"
        >3
        <mat-icon aria-hidden="false" fontIcon="account_circle"></mat-icon>
      </span>
    </div>
    <div class="search-btn-block" *ngIf="showBtnBlock">
      <button mat-stroked-button class="button-flat" [ngClass]="{'active-btn': searchFormBlockToggler}" (click)="showSearchForm()">Edit</button>
    </div>
  </div>
</div>
<div class="search-block-parent">
  <div class="search-form-block" *ngIf="searchFormBlockToggler">
    <div class="search-container">
      <form class="order-card">

        <div class="choose-line">
          <mat-form-field appearance="outline">
            <mat-label>From</mat-label>
            <mat-select >
              <mat-option value="option1">Dublin DUB</mat-option>
              <mat-option value="option2">Dublin DUB 2</mat-option>
              <mat-option value="option3">Dublin DUB 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Destination</mat-label>
            <mat-select >
              <mat-option value="option1">Dublin DUB</mat-option>
              <mat-option value="option2">Dublin DUB 2</mat-option>
              <mat-option value="option3">Dublin DUB 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-html-select [title]="'Passengers'" [options]="dropdownOptions" (currentValueChange)="dropdownValueChanged($event)"></app-html-select>
        </div>

      </form>
    </div>
  </div>
</div>
