/* All global style variables

// Color Guidance

// $primary: #11397E; */

$secondary-0: #0090BD;
$secondary-10: #7ABFD4;
$secondary-40: #D0D9DF;
$secondary-50: #E1E5EB;
$secondary-60: #E9EDF1;
$secondary-80: #F1F3F6;
$secondary-90: #F4F6F9;
$secondary-100: #FAFAFA;

$neutral-0: #1C1B1F;
$neutral-10: #49454F;
$neutral-20: #454A53;
$neutral-30: #74767A;
$neutral-40: rgba(116, 118, 122, 0.6);
$neutral-50: rgba(0, 0, 0, 0.25);
$neutral-60: #CECECE;
$neutral-70: rgba(116, 118, 122, 0.2);
$neutral-80: #F5F5F5;
$neutral-90: rgba(241, 243, 246, 0.15);
$neutral-100: #FFFFFF;

$highlight-gradient: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
$highlight-red: rgba(179, 38, 30, 0.3);
$highlight-green: #7F8906;
$highlight-green-30: rgba(127, 137, 6, 0.3);
$highlight-yellow: #F1C933;
$highlight-yellow-30: rgba(241, 201, 51, 0.3);

$error: #B3261E;

$drop-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);



